<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <title>Zinobe Challenge</title>
</head>

{% block content %}
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <h1 class="navbar-brand">Zinobe Challenge</h1>
      <h2 class="navbar-brand">Juan David Alvarez Cano</h2>
    </nav>
    <main role="main">
      <div style="padding-top: 10px;">
        <div class="container">
          {% for table in tables %}
            {{ table|safe }}
          {% endfor %}
        </div>
        <div class="container">
          <h3> Statistics</h3>
          <div class="row">
            <div class="col align-self-start">
              <h6>Total Time: </h6>
              {{statistics['total']}} s
            </div>
            <div class="col align-self-center">
              <h6>Mean Time: </h6>
              {{statistics['mean']}} s
            </div>
            <div class="col align-self-end">
              <h6>Min Time: </h6>
              {{statistics['min']}} s
            </div>
            <div class="col align-self-end">
              <h6>Max Time: </h6>
              {{statistics['max']}} s
            </div>
        </div>
        <div class="container" style="width: max-content; padding-top: 20px;">
          <a class="fa fa-refresh fa-5x" style="margin:auto" href="."></a>
        </div>
      </div>
    </main>
  </body>
{% endblock %}